<div class="card mt-3" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB0a9Vv--jOowQtVo_DNHzY7CvSizocuT8pA&usqp=CAU"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            <%= `${user.firstname} ${user.lastName}` %>
        </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Login: @<%= user.username %>
        </li>
        <li class="list-group-item">Yoshi: <%= user.age %>
        </li>
        <li class="list-group-item">Role: <%= user.role==='admin' ? 'Admin' : 'Employee' %>
        </li>
    </ul>
    <div class="card-body">
        <a href="/users/<%= user.id %>/edit" class="btn btn-outline-warning me-3" tabindex="-1" role="button"
            aria-disabled="true">Edit</a>
        <form class="d-inline" action="/users/<%=user.id  %>/delete" method="post">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>